.search-buttons button {
  font-family: "Nunito", sans-serif;
  width: 6rem;
  padding: 4px;
  margin: 0 18px;
  color: rgb(226, 226, 226);
  background-color: rgb(27, 35, 56);
  border-radius: 5px;
}
